/* Modal width/height defaults */

#cacheMetadataModal .modal-content {
    width: 750px;
}

#imageBiasAdjustmentModal,
#measurementsModal,
#maskEditorDialog {
    width: min(1200px, 100%);
    height: min(950px, 100%);
}

#directorFeedbackModal,
#workspaceManageModal,
#textReplacementManagerModal,
#favoritesManagerModal,
#updatePresetModal,
#tokenDisplayModal,
#openNoteModal,
#updateNoteModal {
    width: 500px;
}

#presetManagerModal,
#workspaceManageModal,
#textReplacementManagerModal {
    height: 1024px;
}

#favoritesManagerModal {
    height: 720px;
}

#personaSettingsModal {
    width: 400px;
}

#windowsUpdateModal,
#agentClientUpdateDialog {
    width: 475px;
}

#dreamscapeOsInstallWizardModal {
    width: 550px;
}

#createTextReplacementModal {
    width: 550px;
}

#compiledPromptModal {
    width: 700px;
}

#notebookModal {
    width: 800px;
    height: 450px;
}

#cacheManagerModal {
    height: 750px;
    width: 1200px;
}

#emphasisGroupsToolTemplate,
[id^="emphasisGroupsTool_"] {
    width: 480px;
    height: 640px;
}

#characterAutofillTool {
    width: 440px;
    height: 520px;
}

#directorRulesModal {
    width: 500px;
    height: 650px;
}

#openNoteModal {
    height: 520px;
}
